{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    {% block content %}
    
    <div class="container mt-5" style="position: relative;">
        <div class="row">
          <div class="col-6">
            <img class= "col-4"style="width: 35rem" src={{link}} alt="Image">
            <!-- <img src="{{ url_for('static', filename='images/clubs_page_img.jpg') }}" class="img-fluid "> -->
          </div>
          <div class="col-6 d-flex align-items-center justify-content-center">
            <div class="text-center">
              <h1 class="mb-0 overlay-heading">{{thisClub.Club_Name}} </h1>
              <div class="container" style="overflow:hidden">
              <p class="fs-2">{{thisClub.Description}}</p>
            </div>
            </div>
          </div>
        </div>
    </div>


    <!--      CONTAINS MEMBER CARDS WITH HORIZONTAL SCROLL       -->
    <div class="mt-5 container-fluid">
      <h1>Events</h1>
        <div class="row flex-nowrap overflow-auto">
          {%if not events%}
          <h2>No upcoming events</h2>
          {%else%}
    {%for i in events %}
        <div class="card m-2" style="width: 25rem;">
            <img src="{{i.Display_img}}" class="card-img-top" alt="...">
            <div class="card-body">
              <!-- <h5 class="card-title">Card title</h5> -->
              <p class="card-text">{{i.Data}}</p>
              <a href="#" class="btn btn-primary">dummy button</a>
            </div>
          </div>
    {%endfor%}
    {%endif%}
     </div>

     <h1>Advertisements</h1>
     <div class="row flex-nowrap overflow-auto">
      {%if not events%}
      <h2>no ads</h2>
      {%else%}
 {%for i in ads %}
     <div class="card m-2" style="width: 25rem;">
         <img src="{{i.Display_img}}" class="card-img-top" alt="...">
         <div class="card-body">
           <!-- <h5 class="card-title">Card title</h5> -->
           <p class="card-text">{{i.Data}}</p>
           <a href="#" class="btn btn-primary">dummy button</a>
         </div>
       </div>
 {%endfor%}
 {%endif%}
  </div>

    </div>
    {% endblock %}
</body>
</html>