{% extends 'base.html'%}
<link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='/css/style.css') }}">
{%block content %}
<!-- <div class="col-12"> 
    <div class="row">
        <h1 class="fs-6 text-center">Clue Me In!</h1>
    </div> -->
<!-- </div> -->
<div class="image-container">
    <img class="opening-img" style = "width: 100%;"src="{{ url_for('static', filename='images/home_page.jpg') }}" alt="Image description">
  </div>
<div class="text-center"style ="height: 10vh;">
  <h2>About</h2>
  <h3>A platform to view a club's events, sponsors, deadlines and meetings</h3>
</div>
<div class="mt-5 container-fluid">
  <h1>Events</h1>
    <div class="row flex-nowrap overflow-auto">
      {%if not events%}
      <h2>No upcoming events</h2>
      {%else%}
{%for i in events %}
    <div class="card m-2" style="background-color:#E5E5E5;width: 25rem;">
        <img src="{{i.Display_img}}" class="card-img-top" alt="...">
        <div class="card-body">
          <!-- <h5 class="card-title">Card title</h5> -->
          <p class="card-text" style="color: #240536;">{{i.Data}}</p>
          <a href="#" class="btn btn-primary" style="color: #E5E5E5;background-color: #240536;">dummy button</a>
        </div>
      </div>
{%endfor%}
{%endif%}
 </div>

 <h1 class="mt-5">Advertisements</h1>
 <div class="row flex-nowrap overflow-auto">
  {%if not events%}
  <h2>no ads</h2>
  {%else%}
{%for i in ads %}
 <div class="card m-2" style="background-color:#E5E5E5; width: 25rem;">
     <img src="{{i.Display_img}}" class="card-img-top" alt="...">
     <div class="card-body">
       <!-- <h5 class="card-title">Card title</h5> -->
       <p class="card-text" style="color: #240536;">{{i.Data}}</p>
       <a href="#" class="btn " style=" color: #E5E5E5;background-color: #240536;">dummy button</a>
     </div>
   </div>
{%endfor%}
{%endif%}
</div>
</div>
{% endblock %}