{%extends 'base.html' %}

{% block content %}
this is private dashboard for {{myDetails.U_type}}

{%if myDetails.U_type == 2 %}
You are the core !!!!!!

<div class="d-flex">


  <form class="col-6" name ="public_announcements" action="{{ url_for('pvt_dashboard', club_id=cid) }}" method="post">
<div class="form-group p-5 ">
  <h1>Public Dashboard</h1>
    <div class="form-group">
        <label for="content">Content</label>
        <textarea type="text" class="form-control text-center" id="content" name="content" rows="2"></textarea>
      </div>
      <div class="form-group">
        <label for="type">Type</label>
        <input type="text" class="form-control" id="type" name="type">
      </div>
      <div class="form-group">
        <label for="date">Date</label>
        <input type="datetime-local" class="form-control" id="date" name="date">
      </div>
      <div class="form-group">
        <label for="type">Image Link</label>
        <input type="text" class="form-control" id="display" name="display">
      </div>
      <div class="btn">
      <button type="submit" name ="submit" value="pubform" class="btn btn-primary">Submit</button>
      </div>
</div>
  </form>


  <form class="col-6" name ="private_announcements" action="{{ url_for('pvt_dashboard', club_id=cid) }}" method="post">
<div class="form-group p-5 bg-black">
  <h1>Private dashboard</h1>
  <div class="form-group">
    <label for="content">Content</label>
    <textarea class="form-control" id="pvt_content" name="pvt_content" rows="2"></textarea>
  </div>
  <div class="form-group ">
    <label for="type">Type</label>
    <input type="text" class="form-control" id="pvt_type" name="pvt_type">
  </div>
  <div class="form-group">
    <label for="date">Date</label>
    <input type="datetime-local" class="form-control" id="pvt_date" name="pvt_date">
  </div class>
  <div class="btn text-center">
  <button type="submit" name ="submit" value="pvtform" class="btn btn-primary">Submit</button>
</div>
</div>
  </form>

  <!-- {% if form_name %}
  <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="toast-body">
    <p>heheheheheheheh</p>
  </div>
  </div>

  <script>
  $(document).ready(function(){
    $('.toast').toast('show');
  });
  console.log('Toaster displayed');
  </script>
  {% endif %} -->



</div>
  <!-- {% endif %} -->
{% if deadlines %}
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Assigned</th>
          <th scope="col">Due-date</th>
        </tr>
      </thead>
      <tbody>
        {% for i in deadlines %}
        <tr>
          
          <td>{{i.Data}}</td>
          <td>{{i.Timestamp}}</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
    {%else%}
    <h2>No due deadlines</h2>
    </div>
{% endif %}

{% if meetings %}
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Meetings</th>
          <th scope="col">Date</th>
        </tr>
      </thead>
      <tbody>
        {% for i in meetings %}
        <tr>
          <td>{{i.Data}}</td>
          <td>{{i.Timestamp}}</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
    {%else%}
    <h2>No upcoming meetings</h2>
  </div>
  {% endif %}
  {% endblock %}
