.static-background{

    background-image: url("/Users/shreysharma/Desktop/coding/HTML/My Website/photos/bg2.webp");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
  
    /* background-position-y: -5%; */
  }
  .fixed-pos{
    position: fixed;
  }
  
  .welcome{
    color: #F0E9D2;
    font-family: "henny penny", cursive;
    font-size: 5vw;
    margin: 5%;
     /* -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: black;
   */
  }

  .box-container{
    display: flex;

  }
  
  
  .box{
    margin: 2vw;
    text-align: center;
    background-color: yellow;
    background: rgba(228, 220, 207, .4);
    height: 25vw;
    border-radius: 25px;
    
  }

  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; Sets the height of the container to 100% of the viewport height */
    overflow: auto; /* Allows scrolling if the image height exceeds the viewport height*/
  }
  
  .opening-img {
    /* width: 80%; */
    height: auto; /* Sets the height of the image to maintain the aspect ratio */
  }
  
  .overlay-heading{
    position: absolute;
              font-size: 5rem;
              top: 0;
              left: 50%;
              color: brown;
              transform: translate(-70%, -50%);
              letter-spacing: 0.3rem;
  }